$color-black: #000000;
$color-accent: #ff6336;
$color-gray: #cccccc;
$color-white: #ffffff;
$color-bg-accent: #ff9c7d;
$color-bg-light: #fff8e4;
$color-bg-cold: #c9e8f2;
$color-bg-warm: #dabc98;
$color-bg-grey: #eeeeee;
